body {
    background: "https://cdn.discordapp.com/attachments/1508218663180832960/1508378255160377406/file_00000000ea2c71f4aa1b60ef9a38c079.png?ex=6a155238&is=6a1400b8&hm=157a5f57a7298692481f83e6df83b1e88654932305157509734fed4521ff03c4&";
    color: green;
    font-style: "Arial";
}
